<ion-content color="danger">

  <div id="images">
   <img src="/assets/logobackup.PNG" alt="">
  </div>

  <div id="main">
  <ion-card>
  <ion-card-content>
   <h1 class="ion-text-center">SIGN UP</h1>
  
  <ion-item>
  <ion-input type="email" [(ngModel)]="user.email"  placeholder="Email" required></ion-input >
  </ion-item>

  <ion-item>
  <ion-input type="password" [(ngModel)]="user.password" placeholder="Password" required></ion-input >
  </ion-item>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-button class="ionpadding" expand="full" shape="round" color="dark" (click)="register(user)">
        Create a new account
        </ion-button>
      </ion-col>
  </ion-row>
</ion-grid>
    <p class="ion-text-center">Already have an account? <span [routerLink]="['/login']" color="danger">Sign In</span></p>
  </ion-card-content>
  </ion-card>
</div>

</ion-content>
