<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Payment Method Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="danger">
    <ion-card-header>
      <ion-card-title>Online Banking</ion-card-title>
      <ion-label>If you are using Online Banking, you can transfer total amount price to the account as below:-<br><br>Bank Name: Maybank Bank<br>No. Account: 1232134234<br>Owner Name: Muhamad Ajwad<br><br>After tranfer the money, you must click on place order to make your order successful.</ion-label>
    </ion-card-header>
  </ion-card>

  <ion-card color="danger">
    <ion-card-header>
      <ion-card-title>Touch & Go eWallet</ion-card-title>
      <ion-label>If you are using Touch & Go eWallet, you can pay with scan the QR Code as below:-</ion-label>
      <ion-img src="assets/qrcode.png"></ion-img>
    </ion-card-header>
  </ion-card>

  <ion-card color="danger">
    <ion-card-header>
      <ion-card-title>Paypal</ion-card-title>
      <ion-label>If you are using Paypal, you can transfer total amount price to the account as below:-<br><br>Bank Name: Maybank Bank<br>No. Account: 1232134234<br>Owner Name: Muhamad Ajwad<br><br>After tranfer the money, you must click on place order to make your order successful.</ion-label>
    </ion-card-header>
  </ion-card>

</ion-content>
